.venv/
__pycache__/
*.pyc
.env
.DS_Store
# assets/models/  <-- 移除或注释掉此行，允许提交模型

# Build artifacts
build/
dist/
*.spec

# Local config and data
config.json
history.json
*.log

# Executables
*.exe
setup/
*.iss
c-sorting-start.md

# Package distributions
debian/
